<head>
    <title>Exercise tracker</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcun icon" href="img/fav-19.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" 
          rel="stylesheet">
</head>
<div class="contained">
    <div class="cfx">
        <a href="https://www.freecodecamp.org/">
            <img class="fcc-ico" 
                 src="https://cdn-images-1.medium.com/max/1200/1*B6_f-_SxscJ9FCuIjOrQAQ.jpeg" 
                 alt="fcc-logo"
                 target="_blank">
        </a>
        <p class="fcc-title">Apis and Microservices Projects</p> 
    </div>
    
    <h1>Exercise tracker</h1>
    <h3>
        Keep your own exercise journal.
    </h3>
    
    <h4 class="mrg-top">Create a New User</h2>
    <form action="/api/exercise/new-user" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="submit" value="Create user">
    </form>
    
    <h4 class="mrg-top">Add exercises</h2>
    <form action="/api/exercise/add" method="POST">
        <input type="text" name="userid" placeholder="User id" required>
        <input type="text" name="description" placeholder="description" required>
        <input type="number" name="duration" placeholder="duration (minutes)" required>
        <input type="text" name="date" placeholder="date (yyyy/mm/dd)" required>
        <input type="submit" value="Log exercise">
    </form>    
    
    <h4 class="mrg-top">Retrieve from your journal</h2>
    
</div>
