body {
    font-family: 'Roboto Mono', monospace;
}

h3 {font-weight: 400;}

h4 {margin-bottom: 0;}

.contained {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.mrg-top {
    margin-top: 60px;
}

.snipet {
    background: #e8fff7;
    padding: 8px;
    margin: 8px 0;
    border-radius: 6px;
    color: #005b3b;
    font-size: 14px;
}

.fcc-ico {
    width: 26px;
    border-radius: 2px;
    position: absolute;
}

.fcc-title {
    color: grey;
    display: inline-block;
    margin: 0 0 0 35px;
    line-height: 1.6;
}

.cfx:after {
  content: "";
  display: table;
  clear: both;
}

form {
    background: #F5F5F5;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}

input {
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    border: none;
    margin: 10px 0;
}

input[type="text"], input[type="number"] {
    border: 1px solid #c1c1c1;
}

input[type="submit"] {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
